<p>
  <strong>Version Number:</strong>
  <%= @portal.version.number %>
</p>

<p>

</p>

<p>
  <%#= link_to 'Delete Version', [version.portal_id, version.id], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>