<h1>Version: <%= @version.number %> </h1>
<%= link_to 'Edit Version', edit_version_path(@version) %>

<h2>Known Issues for Version <%= @version.number %></h2>
<table>
  <tr>
    <td>Name</td>
    <td>Description</td>
  </tr>

<!--  @issues.each do |issue|-->
  <tr>

  </tr>

</table>
